torch
torchvision
torchinfo
pillow
opencv-python==4.8.0.74
torchmetrics
matplotlib
numpy
pytest
tqdm
psycopg2-binary
git+https://github.com/cbosoft/email_notifier
yacs
git+https://github.com/cbosoft/syt
argparse
imutils
scipy
pycocotools
mlflow
