torch
torchvision
torchinfo
pillow
opencv-python
torchmetrics
matplotlib
numpy
pytest
tqdm
psycopg2
git+https://github.com/cbosoft/email_notifier
git+https://github.com/cbosoft/mldb
yacs
git+https://github.com/cbosoft/syt
argparse
imutils
scipy
pycocotools
