torch
torchvision
torchinfo
pillow
opencv-python
torchmetrics
matplotlib
numpy
pytest
tqdm
git+https://github.com/cbosoft/mldb
git+https://github.com/cbosoft/syt
git+https://github.com/cbosoft/email_notifier
argparse
imutils
scipy